body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #fff;
    border-bottom: 1px solid #eee;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.left-nav, .right-nav {
    display: flex;
    align-items: center;
}

.right-nav {
    color: #6c757d;
}

.logo {
    display: flex;
    align-items: center;
    margin-right: 40px;
    position: relative; 
    left: 45px; 
}

.logo img {
    height: 40px;
    margin-right: 20px;
}

nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin: 0 10px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

.left-nav ul li a {
    color: #0056b3; 
}

.auth-buttons {
    display: flex;
    align-items: center;
}

.auth-buttons button {
    margin: 0 5px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 1em;
}

.auth-buttons .login {
    background: none;
    color: #007bff; 
}

.auth-buttons .signup {
    background-color: #fff;
    color: #007bff; 
    border: 2px solid #007bff; 
}

.auth-buttons .demo {
    background-color: #007bff; 
    color: #fff;
}

main {
    
    background-color: #f5f5f5;
}

.hero {
    display: flex;
    padding: 20px;
    justify-content: space-between;
    align-items: center; 
    background-color: #fff;
    padding: 50px;
    border-radius: 10px;
    
}

.text-content {
    max-width: 50%;
    display: flex;
    flex-direction: column; 
    justify-content: center; 
}

.text-content h1 {
    font-size: 3.2em;
    color: #007bff;
    margin: 0; 
}

.text-content p {
    font-size: 1.1em;
    color: #666;
    margin-top: 10px; 
}

.cta-buttons {
    margin-top: 20px;
}

.cta-buttons button {
    margin-right: 10px;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1em;
}

.see-pricing {
    background-color: #007bff;
    color: #fff;
    border: 3px solid #007bff;
}

.learn-more {
    background-color: transparent;
    border: 2px solid #007bff;
    color: #007bff;
}

.image-content {
    display: flex;
    align-items: center; 
}

.image-content img {
    max-width: 100%;
    height: auto;
}

.video-section {
    padding: 50px;
    background-color: #fff;
    text-align: center;
}

.video-container {
    position: relative;
    padding-bottom: 56.25%; 
    overflow: hidden;
    max-width: 100%;
    background-color: #000; 
    margin: 0 auto;
    border-radius: 25px;
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


@media (max-width: 768px) {
    .hero {
        flex-direction: column;
        text-align: center;
    }

    .text-content {
        max-width: 100%;
        margin-bottom: 20px;
    }
}

.features {
    padding: 50px 0;
    background-color: #fff;
    text-align: center;
}

.features-label {
    display: inline-block;
    background-color: #dff0ff; 
    color: #007bff;
    font-size: 0.9em;
    padding: 5px 5px;
    border-radius: 5px;
    margin-bottom: 5px;
}

.section-title {
    font-size: 2em;
    color: #007bff;
    margin-bottom: 10px;
}

.section-subtitle {
    font-size: 1.1em;
    color: #333;
    margin-bottom: 40px;
}

.features-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.feature-image img {
    margin-right: 20px;
    max-width: 75%;
    height: auto;
    border-radius: 10px;
}

.feature-details {
    margin-right: 99px;
    max-width: 500px;
    text-align: left;
    padding: 15px;
}

.feature-details h3 {
    font-size: 1.9em;
    color: #007bff; 
    margin-bottom: 10px;
}

.feature-details p {
    font-size: 1.3em;
    color: #666;
    margin-bottom: 20px;
}

.feature-list {
    margin-top: 20px;
}

.feature-item {
    font-size: 1.1em;
    color: #333;
    margin-bottom: 20px;
    position: relative;
    padding: 5px;
}

.feature-item:before,
.feature-item:after {
    content: "";
    display: block;
    height: 1px;
    background-color: #ddd;
    position: absolute;
    left: 0;
    right: 0;
}

.feature-item:before {
    top: -10px;
    text-decoration-thickness: 1px
}

.feature-item:after {
    bottom: -10px;
    text-decoration-thickness: 1px
}

/* Responsive Design */
@media (max-width: 768px) {
    .features-content {
        flex-direction: column;
        text-align: center;
    }

    .feature-details {
        text-align: center;
        margin-top: 20px;
    }
}

.customer-offer {
    padding: 50px 0;
    background-color: #fff;
    text-align: center;
}

.customer-offer .section-title {
    font-size: 2em;
    color: #007bff; 
    margin-bottom: 10px;
}

.customer-offer .section-subtitle {
    font-size: 1.1em;
    color: #333;
    margin-bottom: 40px;
}

.customer-offer-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.offer-details {
    margin-left: 99px;
    max-width: 500px;
    text-align: left;
}

.offer-details h3 {
    font-size: 1.9em;
    color: #007bff; 
    margin-bottom: 10px;
}

.offer-details p {
    font-size: 1.3em;
    color: #000000;
    margin-bottom: 20px;
}

.offer-list {
    margin-top: 20px;
}

.offer-item {
    font-size: 1.1em;
    color: #333;
    margin-bottom: 20px;
    position: relative;
    padding: 5px;
}

.offer-item:before,
.offer-item:after {
    content: "";
    display: block;
    height: 1px;
    background-color: #ddd;
    position: absolute;
    left: 0;
    right: 0;
}

.offer-item:before {
    top: -10px;
}

.offer-item:after {
    bottom: -10px;
}

.offer-image img {
    margin-right: 0px;
    position: relative;
    left: 25px;
    max-width: 68%;
    height: auto;
    border-radius: 10px;
}

.pricing-section::before {
    content: '';
    position: absolute;
    top: 3257px;
    left: 242px;
    width: 300px;
    height: 300px;
    background-color: #007FFF;
    border-radius: 50%;
    z-index: 0;
}

.pricing-section::after {
    content: '';
    position: absolute;
    top: 504%;
    right: 294px;
    width: 100px;
    height: 100px;
    border: 5px solid #225be0;
    border-radius: 50%;
    border-width: 20px;
    z-index: 0;
    transform: translateY(-50%);
}


.pricing-header {
    position: relative;
    z-index: 1;
}


@media (max-width: 768px) {
    .customer-offer-content {
        flex-direction: column;
        text-align: center;
    }

    .offer-details {
        text-align: center;
        margin-top: 20px;
    }
}

.order-process {
    background-color: #000; 
    padding: 40px 0 20px;
    position: relative;
    z-index: 1;
}

.order-process .container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
}

.process-step {
    flex: 1;
    margin: 0 10px;
    max-width: 200px;
    margin-bottom: none;
}

.process-step .step-image img {
    width: 250%;
    height: auto;
    max-width: 200px;
    display: block;
    margin: 0 auto 10px;
    border-radius: 10px; 
}

.process-step h4 {
    color: #fff;
    font-size: 20px;
    margin-top: 40px;
    font-weight: 500;
}


button:hover {
    background-color: #0056b3; 
    color: #fff; /* Change text color to white */
    border-color: #0056b3; 
    cursor: pointer; 
    transition: background-color 0.3s ease, color 0.3s ease; 
}

.gradient-text {
    background: linear-gradient(90deg, #01ADBA, #2463C3);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}


.pricing-section {
    padding: 50px 0;
    background-color: #fff;
    text-align: center;
}

.pricing-section .section-title {
    font-size: 2em;
    color: #007bff;
    margin-bottom: 10px;
}

.pricing-section .section-subtitle {
    font-size: 1.1em;
    color: #333;
    margin-bottom: 40px;
}

.pricing-box {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 10px;
    /* padding: 20px; */
    margin: 0 auto;
    max-width: 800px;
}

.pricing-left {
    flex: 1;
    padding: 20px;
    background-color: #e6f7ff;
    border-right: 1px solid #ddd;
    box-sizing: border-box;
}

.pricing-left .plan-features {
    list-style: none;
    padding: 0;
    margin: 0;

}

.pricing-left .plan-features li {
    margin-bottom: 10px;
    color: #333;
    display: flex;
    align-items: center;
}

.pricing-left .plan-features li img {
    margin-right: 10px;
    width: 16px; 
    height: 16px;
}

.pricing-right {
    flex: 1;
    padding: 25px;
    position: relative;
    left: 2%;
    text-align: left;
}

.pricing-right img {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
}

.plan-title {
    font-size: 1.2em;
    color: #1465bb;
    margin-bottom: 10px;
}

.plan-price {
    font-size: 2.2em;
    color: #333;
    /* margin: 10px 0; */
}

.button-plan{
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    background-color: #007bff;
    color: #fff;
    border: 3px solid #007bff;
}



.plan .cta-button:hover {
    background-color: #0056b3;
}

.pricing-section {
    padding: 50px 0;
    background-color: #fff;
    text-align: center;
}

.pricing-section .section-title {
    font-size: 2em;
    color: #007bff;
    margin-bottom: 10px;
}

.pricing-section .section-subtitle {
    font-size: 1.1em;
    color: #333;
    margin-bottom: 40px;
}



.faq-section {
    padding: 50px 0 65px;
    background-color: #fff;
}

.faq-section .section-title {
    font-size: 2em;
    color: #007bff;
    text-align: center;
    margin-bottom: 10px;
}

.faq-section .section-subtitle {
    font-size: 1.1em;
    color: #333;
    text-align: center;
    margin-bottom: 40px;
}

.faq {
    max-width: 1000px;
    margin: 0 auto;
}

.faq-question {
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 10px;
    overflow: hidden;
}

.faq-question input[type="checkbox"] {
    display: none;
}

.faq-question label {
    display: block;
    padding: 15px;
    font-size: 1.2em;
    font-weight: normal;
    cursor: pointer;
    position: relative;
    background-color: #f9f9f9;
}

.faq-question label::after {
    content: '\f107';
    font-family: FontAwesome;
    position: absolute;
    right: 20px;
    font-size: 1.5em;
    transition: transform 0.3s ease;
}

.faq-question input[type="checkbox"]:checked + label::after {
    transform: rotate(180deg);
}

.faq-answer {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;
    padding: 0 15px;
}

.faq-question input[type="checkbox"]:checked ~ .faq-answer {
    max-height: 200px; 
    padding: 15px;
}

.footer {
    background-color: #000;
    color: #fff;
    padding: 20px;
}
.footer a {
    color: #666;
    text-decoration: none;
}
.footer .container {
    display: flex;
    justify-content: space-between;
}
.footer .container div {
    flex: 1;
}
.footer .container div h4 {
    margin-bottom: 10px;
}
.footer-bottom {
    text-align: center;
    padding-top: 20px;
}
.footer-bottom a {
    margin-right: 10px;
}
.social-icons a {
    margin-right: 10px;
}

.footer img {
    max-width: 150px; 
    height: auto; 
}

.footer ul {
    list-style-type: none; 
    padding: 0; 
    margin: 0; 
}

.footer ul li {
    margin-bottom: 15px; 
}

.custom-heading {
    font-size: 2.5rem; 
    font-weight: bold; 
    line-height: 1.2; 
    margin: 0; 
    text-align: center; 
}

.FAQ-Heading {
    display: inline-block;
    background-color: #dff0ff;
    color: #007bff; 
    font-size: 0.9em;
    padding: 5px 5px;
    border-radius: 5px;
    margin-bottom: 5px;
    text-align: center; 
    position: relative;
    left: 47%;
}

.Testimonials-Heading{
    display: inline-block;
    background-color: #dff0ff;
    color: #007bff; 
    font-size: 0.9em;
    padding: 5px 5px;
    border-radius: 5px;
    margin-bottom: 5px;
    text-align: center; 
    position: relative;
    right: 47%;
}

.sales-cont{
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
    right: 12%;
    bottom: 14%;
    color: #666;
    font-weight: 600;
}

.sales-txt{
    position: relative;
    left: 2%;
}

.sales-loc{
    position: relative;
    bottom: 8%;
    left: 2%;
}

.testimonials {
    text-align: center;
    background-color: #ffffff;
    position: relative;
    z-index: 10;
}

.testimonial-header h2 {
    color: #6bd6f1;
    font-size: 1.2em;
    text-transform: uppercase;
    margin: 0;
}

.testimonial-header h3 {
    color: #1e8ad6;
    font-size: 2em;
    margin: 10px 0 20px 0;
}

.testimonial-header p {
    color: #555;
    font-size: 1em;
    margin: 0 0 30px 0;
}

.testimonial-content {
    max-width: 800px;
    margin: 0 auto;
    position: relative;
    z-index: 20;
}

.testimonial-carousel {
    display: flex;
    align-items: center;
    position: relative;
    overflow: hidden; /* Hide overflow */
    width: 100%;
}

.carousel-wrapper {
    display: flex;
    transition: transform 0.5s ease; /* Smooth transition for sliding effect */
}

.left-arrow {
    left: 10px;
}

.right-arrow {
    right: 10px;
}

.testimonial-card {
    min-width: 100%;
    box-sizing: border-box;
    display: flex;
    align-items: flex-start; /* Align items to the top */
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 0 auto;
    margin-top: -5px;
    text-align: left;
    padding-top: 7px;
    padding-bottom: 30px;
}

.testimonial-logo {
    flex: 0 0 auto;
    height: 100%;
    display: flex;
    align-items: center; /* Center the image vertically */
}

.testimonial-logo img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
}

.testimonial-text {
    flex: 1;
    margin-left: 20px; /* Space between image and text */
}

.testimonial-author {
    margin-top: 20px;
    font-size: 1em;
    color: #777;
}

.testimonial-author .author-name {
    font-weight: bold;
    color: #000000;
}

.testimonial-author .author-company {
    color: #1e8ad6;
    font-size: 0.9em;
}

.carousel-arrow {
    background: none;
    border: none;
    font-size: 2em;
    color: #007bff;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
}

.left-arrow {
    left: 10px;
}

.right-arrow {
    right: 10px;
}


.testimonials-image-wrapper {
    position: relative;
    text-align: center;
}

.testimonials-image {
    margin-top: -107px;
    width: 100%;
    height: auto;
    display: block;
    padding: 0%;
}

.Testimonials-Heading{
    display: inline-block;
    background-color: #dff0ff; 
    color: #007bff; 
    font-size: 0.9em;
    padding: 5px 5px;
    border-radius: 5px;
    margin-bottom: 5px;
    text-align: center; 
    position: relative;
    left: 0%;
}

.cta-content {
    position: absolute;
    top: 421px; 
    left: 50%;
    transform: translateX(-50%);
    color: #fff;
    text-align: center;
}

.call-to-action h2 {
    font-size: 2em;
    margin: 0 0 20px 0;
}

.call-to-action p {
    font-size: 1.2em;
    margin: 0 0 30px 0;
}

.cta-button {
    background-color: #fff;
    color: #007bff;
    padding: 10px 30px;
    text-decoration: none;
    border-radius: 30px;
    font-size: 1em;
    transition: background-color 0.3s ease;
    position: relative;
}

.cta-button:hover {
    background-color: #f1f1f1;
}

.powder-plan{
    position: relative;
    top: 3%;
}





.testimonial-carousel {
    position: relative;
    overflow: hidden;
    max-width: 100%;
    margin: 0 auto;
}

.carousel-wrapper {
    display: flex;
    transition: transform 0.5s ease;
    will-change: transform;
}

.testimonial-card {
    min-width: 100%;
    box-sizing: border-box;
    padding: 7%;
    box-shadow: 
        0 12px 24px rgba(0, 0, 0, 0.15), /* Bottom shadow for lift effect */
        0 4px 8px rgba(0, 0, 0, 0.1);
}

.carousel-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: transparent;
    color: #130a570d;
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 1;
    font-size: 20px;
}

.left-arrow {
    left: 10px;
    color: #1465bb;
}

.right-arrow {
    right: 10px;
    color: #1465bb;
}

.carousel-arrow:hover {
    background: transparent; /* Darker background on hover */
    transform: translateY(-50%) scale(1.1); 
    color: #1465bb;;
}






/* Media Queries for Mobile Devices
@media (max-width: 768px) {
    .hero {
        flex-direction: column;
        text-align: center;
    }

    .text-content {
        max-width: 100%;
        margin-bottom: 20px;
    }

    .features-content {
        flex-direction: column;
        text-align: center;
    }

    .feature-details {
        text-align: center;
        margin-top: 20px;
    }

    .customer-offer-content {
        flex-direction: column;
        text-align: center;
    }

    .offer-details {
        text-align: center;
        margin-top: 20px;
    }

    .testimonial-carousel {
        flex-direction: column;
    }

    .testimonial-card {
        padding: 10px;
    }

    .carousel-arrow {
        font-size: 1.5em;
        padding: 5px;
    }

    .order-process .container {
        flex-direction: column;
    }

    .process-step {
        margin-bottom: 20px;
    }

    .pricing-section {
        padding: 20px 0;
    }

    .pricing-left, .pricing-right {
        padding: 10px;
    }

    .faq-section {
        padding: 20px 0;
    }

    .faq-question label {
        font-size: 1em;
    }

    .faq-answer {
        padding: 10px 15px;
    }

    .footer .container {
        flex-direction: column;
    }

    .footer .container div {
        margin-bottom: 20px;
    }
} */

@media (max-width: 430px) and (max-height: 932px) {
    /* Hide specific navbar items */
    .left-nav ul li a[href*="products"],
    .left-nav ul li a[href*="solutions"],
    .left-nav ul li a[href*="pharmacy-types"],
    .left-nav ul li a[href*="pricing"],
    .left-nav ul li a[href*="learn"],
    .left-nav ul li a[href*="about-us"],
    .left-nav ul li a[href*="contact-sales"],
    .auth-buttons .login,
    .auth-buttons .signup,
    .auth-buttons .demo {
        display: none;
    }

    /* Hide "Get in Touch" button */
    .cta-content {
        display: none;
    }

    /* Adjust other styles as needed */
    header {
        padding: 10px;
    }

    .logo {
        left: 0;
        margin-right: 0;
    }

    .auth-buttons {
        display: none; /* Hide authentication buttons if necessary */
    }
}
